@tailwind base;
    @tailwind components;
    @tailwind utilities;

    /* Gradient Animation */
    @keyframes gradientAnimation {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

    .bg-gradient-animation {
      background: linear-gradient(270deg, #A80060, #A81860, #A80060);
      background-size: 200% 200%;
      animation: gradientAnimation 10s ease infinite;
    }

    /* Custom Scrollbar */
    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      background: #F0F0F0;
    }

    ::-webkit-scrollbar-thumb {
      background: #A80060;
      border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #A81860;
    }
